
.container-cart-ext{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.text-title{
    text-align: center;
}

.img-cart{
    height: 360px;
}

.container-cart-item{
    text-align: center;
    margin: 6px 38px 0 40px;
    width: 270px;
    border: 1px solid #6a969c;
    border-radius: 7px;
    padding: 5px;
    height: 580px;
}



.btn-delete-item{
    background-color: #eb5a5a;
    border-radius: 7px;
    cursor: pointer;
    margin: 15px;
}

.icon-delete{
    width: 24px;
    height: auto;
    display: flex;
}

.container-total-button{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 70px;
    align-items: center;
    align-content: space-around;
}



.btn-empty-cart{
    text-align: end;
    background-color: #ff0000;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
    display: block;
    border: black 1px solid;
    padding: 7px;
    font-size: initial;
    font-weight: 700;
}