.container-cart-first {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.container-cart-ext {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.text-title {
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.img-cart {
  height: 360px;
}

.container-cart-item {
  text-align: center;
  margin: 6px 38px 0 40px;
  width: 270px;
  border: 1px solid #6a969c;
  border-radius: 7px;
  padding: 5px;
  height: 580px;
}

.btn-delete-item {
  background-color: #eb5a5a;
  border-radius: 7px;
  cursor: pointer;
  margin: 15px;
}

.icon-delete {
  width: 24px;
  height: auto;
  display: flex;
}

.container-total-button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 70px;
  align-items: center;
  align-content: space-around;
}

.btn-empty-cart {
  text-align: end;
  background-color: #ff0000;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
  display: block;
  border: rgb(41, 41, 41) 2px solid;
  padding: 7px;
  font-size: initial;
  font-weight: 700;
}

.btn-make-order {
  text-align: end;
  background-color: #377a00;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
  display: block;
  border: rgb(41, 41, 41) 2px solid;
  padding: 7px;
  font-size: initial;
  font-weight: 700;
}

.container-no-product{
  text-align: center;
}

.btn-go-buy{
    background-color: #e7c11e;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    border: #e7c11e 2px solid;
    border-radius: 5px;
  }

.btn-link-order{
  text-decoration: none;
}