.container-item-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-detail{
    font-size: inherit;
}

.text-desc {
    text-align: center;
    font-size: large;
}

.btn-back{
    background-color: #e7c11e;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 20px;
    font-size: 20px;
}