.container-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: min-content;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

.item-name{
    height: 100px;
    text-align: center;
    font-size: x-large;
}

.price-nmb{
    font-size: medium;
}

.link-btn{
    text-decoration: none;
    width: 183px;
}

.btn-view-product{
    background-color: #e7c11e;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 11px 0 10px 0;
    width: 100%;
    font-size: 20px;
}