.nav-container-up{
    height: 40px;
    display: block;
    background-color: rgb(106, 150, 156);
    display: flex;
    align-items: center;
    padding-left: 60px;
    flex-direction: row;
    flex-wrap: wrap;
}

.logos-nav-up img{
    height: 30px;
    width: auto;
    padding-left: 15px;
}

.guitar-logo {
    display: table-header-group;
    height: 70px;
}
.nav-container {
    display: flex;
    justify-content: space-around;
    background-color: #84A8A1;
    flex-wrap: wrap;
}

.logo{
    margin-left: 20px;
}


.nav-items {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-right: 30px;
}

.nav-items-li {
    padding-right: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}





