.container-count{
    margin-bottom: 20px;
}
.container-count-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.count-number {
    margin-left: 10px;
    margin-right: 10px;
    font-size: smaller;
}

.btn-inad{
    background-color: #6a969c;
    color: #e7c11e;
    padding: 6px;
    border-radius: 5px;
    border: #6a969c 2px solid;


}

.btn-add-cart {
    background-color: #e7c11e;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    border: #e7c11e 2px solid;
    border-radius: 5px;
    margin-left: 20px;
}

.no-stock-btn{
    background-color: #e7c11e;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
    border: #e7c11e 2px solid;
    border-radius: 5px;
}